body{
    background-image: url(../img/image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.register-container {
    max-width: 400px;
    margin: 50px auto 10px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid#ccc;
}
.register-container h1 {
    margin-bottom: 20px;
    text-align: center;
}
.register-container label {
    display: block;
    margin-bottom: 5px;
}
.register-container input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.register-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.register-container button:hover{
    background-color: #202020;
}
.register-container2 {
    max-width: 400px;
    margin: 5px auto;
    padding: 0 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid#ccc;
}
.register-container2 p,a{
    display: inline-flex;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    text-decoration: none;
    
}
.register-container2 a{
    color: #0213ff; 
}

.register-container2 a:hover{
    text-decoration: underline;
}

footer{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
}
footer a:hover{
    color: #0213ff;
    text-decoration: underline;
}